/* Utilities */
body{
    margin: 0px;
    background: #E5E5E5;
    font-family: 'Cairo', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Top Player abd blogs Styles */
.container{
    Width: 870px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 42px;
    padding-bottom: 22.23px;
    margin-bottom: 28px;

}
.section-title{
   color: #562EFF; 
   margin-top: 27px;
   margin-left: 33px;
   font-size: 24px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
hr{
    width: 807px;
    height: 0px;
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 3px;

}

/* Top Blogs Styles */

.blog img{
    width: 177px;
    height: 117px;
}
.blog{
    display: flex;
    margin-left: 30px;
}
.blog-title{
    font-size: 20px;
    font-weight: 500;
}
.author{
    color: 
    #9F9F9F;
    font-size: 16px;
    font-weight: 400;
}
.blog-detail{
    margin-left: 16px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
}
.author a{
    text-decoration: none;
    color: #562EFF;
}

/* course Styles */

.course img{
    width: 224px;
    height: 104px;
    padding-left: 11px;
    padding-top: 13px;
}
.course-title{
    font-size: 20.03px;
    padding-left: 10px;
    margin-top: 19px;
    margin-bottom: 0px;

}
.course-author{
    color: #ED6B4F;
    padding-left: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.course-info{
    display: flex;
    padding-left: 13px;
    margin-bottom: 26px;
    align-items: center;
}
.fa-star.filled{
    font-size: 12px;
    color: #FFC014;
}
.fa-star.empty{
    font-size: 12px;
    color:#AEAEAE;
}
.ratting-in-number{
    color: #A2A2A2;
}
.course-duration{
    font-weight: 600;
    font-size: 14.6913px;
    color: #FF4A60;
    background-color: #FFE4E8;
    padding: 5px 6px;
    border-radius: 10px;
    margin-left: 34px;
}
.course{
    Width: 252.42px;
    Height: 269.79px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 28px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container1{
    Width: 870px;
    background: #FFFFFF;
    border-radius: 5px;
    padding-bottom: 22.23px;
    margin-bottom: 28px;

}

/* Header styles */

.header{
    background-color:#562EFF;
    height: 94px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation{
    width: 67%;
}
.nav1{
    display: flex;
    align-items: center;
}
.nav1 img{
    Width: 40.42px;
    Height: 51px;
}
.nav1 h1{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    margin-left: 15px;
}
.nav2 a{
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 36px;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav2{
    display: flex;
    align-items: center;
}